* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	padding: 50px;
}

h2 {
	font-size-adjust: 30px;
	font-weight: bold;
}

p {
	font-weight: 300;
	font-size: 20px;
}